@model IEnumerable<dal.models.Transaction>

@{
    Layout = null;
}

<tbody id="updateBody">
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Details" asp-controller="Accounts" asp-route-id="@item.SourceAccount.ID">@item.SourceAccount.Name</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceAmount) @item.SourceAccount.Currency.Acronym
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceFees) @item.SourceAccount.Currency.Acronym
            </td>
            <td>
                <a asp-action="Details" asp-controller="Accounts" asp-route-id="@item.TargetAccount.ID">@item.TargetAccount.Name</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetAmount) @item.TargetAccount.Currency.Acronym
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetFees) @item.TargetAccount.Currency.Acronym
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caption)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
</tbody>

@section scripts {

<script type="text/javascript">

    $(document).ready(function () {
            $(".nav-tabs a").click(function () {
                $(this).tab('show');
            });
    });

</script>
}